/* text and font styles */

a, a:hover, a:active, a:focus {
	color: rgb(11, 135, 147);
}

a, a:active, a:focus {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#home p, #contact p, #portfolio p {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: 400;
	color: white;
	margin-bottom: 1em;
}

#home h1, #contact h1 {
	font-family: 'Abril Fatface', cursive, Georgia, serif;
	font-size: 6em;
	color: white;
	text-transform: uppercase;
	margin-top: 0em;
	line-height: 0.8em;
}

#home h2, #contact h2 {
	font-family: 'Abril Fatface', cursive, Georgia, serif;
	font-size: 3em;
	text-transform: uppercase;
	color: white;
	margin-bottom: 1em;
}

.contactFormText {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
}

.buttonText {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 1em;
	text-transform: uppercase;
	color: white;
}

#about p, #skills p, #experience p {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: 400;
	color: black;
	margin-bottom: 1em;
}

#about h1, #skills h1, #experience h1, #portfolio h1 {
	font-family: 'Abril Fatface', cursive, Georgia, serif;
	font-size: 3em;
	color: black;
	text-transform: uppercase;
	margin-bottom: 0.5em;
}

#experience h2 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	color: black;
	margin-bottom: 0.5em;
	margin-top: 0;
}

/* colours */

.darkpurpleBackground {
	background-color: rgb(54, 0, 51);
}

.blueBackground {
	background-color: rgb(11, 135, 147);
}

.redBackground {
	background-color: rgb(156, 30, 51);
}

/* home */

header {
	background-image: url(../images/homeBackground01_1400w.jpg);

	-moz-background-size: cover;
  	background-size: cover;
  	width: 100%;

  	-webkit-height: 100vh;
	-moz-height: 100vh;
	-ms-height: 100vh;
	-o-height: 100vh;
	height: 100vh;

	text-align: center;
	margin-bottom: 50px;

	display: -webkit-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
	display: flex;
	-moz-box-direction: column;
  	-webkit-flex-direction: column;
  	-ms-flex-direction: column;
	flex-direction: column;

	-moz-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;

	-moz-box-align: center;
  	-ms-flex-align: center;
  	-webkit-align-items: center;
	align-items: center;
}

#home {
	-webkit-height: 90vh;
	-moz-height: 90vh;
	-ms-height: 90vh;
	-o-height: 90vh;
	height: 90vh;

	display: -webkit-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
	display: flex;

	-moz-box-direction: column;
  	-webkit-flex-direction: column;
  	-ms-flex-direction: column;
	flex-direction: column;

	-webkit-justify-content: center;
	justify-content: center;

	-moz-box-align: center;
  	-ms-flex-align: center;
  	-webkit-align-items: center;
	align-items: center;
}


.lrLogo {
	-moz-flex: 1;
	-webkit-flex: 1; 
  	-ms-flex: 1; 
	flex: 1;
	/*border: solid;*/
}

.lrLogo img {
	width: 40px;
	height: 40px;
}

.greeting {
	-moz-flex: 1;
	-webkit-flex: 1;     
 	-ms-flex: 1; 
	flex: 1;
	/*border: solid;*/
}

.downArrow {
	-moz-flex: 1;
	-webkit-flex: 1; 
  	-ms-flex: 1; 
	flex: 1;

	display: -webkit-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
	display: flex;

	-moz-box-align: flex-end;
  	-ms-flex-align: flex-end;
  	-webkit-align-items: flex-end;
	align-items: flex-end;
	/*border: solid;*/
}

.downArrow img {
	width: 30px;
	height: 30px;
}

/* About */

#about {
	text-align: center;
	max-width: 600px;
	margin-bottom: 50px;
}

#about img {
	width: 100px;
	height: 100px;
	margin-bottom: 50px;
}

/* Navbar */

.dropdownFixed {
	position: fixed;
	top: 20px;
	left: 20px;
}

.dropdown {
	margin-left: 40px;
	width: 40px;
	height: 40px;
	display: inline-block;
}

.margin5 {
	margin: 5px;
}

.dropdown-menu {
	border: none;
	margin: 0;
	padding: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.dropdown-menu>li>a {
  	padding: 10px 20px;
  	font-weight: 700;
  	line-height: 1.42857143;
  	color: #fff;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
}

/* Skills */

#skills, #portfolio {
	background-color: #eeeeee;
	padding-top: 50px;
	padding-bottom: 50px;
}

/* Experience */

#experience h1 {
	margin-top: 50px;
	margin-bottom: 1em;
}

.experience {
	padding-left: 10px;
	margin-bottom: 50px;
}

.experienceBlue {
	border-left: solid 1em rgb(11, 135, 147);
}

.experienceRed {
	border-left: solid 1em rgb(156, 30, 51);
}

.experienceDarkPurple {
	border-left: solid 1em rgb(54, 0, 51);
}

/* Portfolio */

.card-container {
  cursor: pointer;
  height: 150px;
  -moz-perspective: 600;
  -webkit-perspective: 600;
  perspective: 600;
  position: relative;
  width: 150px;
}

.card {
  height: 100%;
  position: absolute;

  -ms-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -ms-transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transform-style: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;

  width: 100%;
}

.card:hover {
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card .side {
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 0px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
  background: #666666;
}

.card .backDarkPurple {
  background: rgb(54, 0, 51);
  color: white;
  line-height: 150px;
  text-align: center;

  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card .backRed {
  background: rgb(156, 30, 51);
  color: white;
  line-height: 150px;
  text-align: center;

  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card .backBlue {
  background: rgb(11, 135, 147);
  color: white;
  line-height: 150px;
  text-align: center;

  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.top-buffer { 
	margin-top: 1em; 
}

/* Contact */

#contact {
	background: -webkit-linear-gradient(rgb(156, 30, 51) 0%, rgb(54, 0, 51) 100%); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(rgb(156, 30, 51) 0%, rgb(54, 0, 51) 100%); /* For Opera 11.1 to 12.0 */
 	background: -moz-linear-gradient(rgb(156, 30, 51) 0%, rgb(54, 0, 51) 100%); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(rgb(156, 30, 51) 0%, rgb(54, 0, 51) 100%); /* Standard syntax */
  	padding-top: 50px;
  	padding-bottom: 50px;
}



